<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RazorpayKey" value="rzp_test_SAgXLNHD2cqg9b" />
    <add key="RazorpaySecret" value="kOGAkE6OkhX2Ou4k1J6VG7Jp" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\LISD.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 744922F9-37F7-B223-D8E1-4B103C49564B-->